extends ../layouts/default

block main
  center
    h1= title

block content
  .text-center
    form.form-horizontal.form-signin(action="/auth/facebook/token", method="get", role="form")
      input#access_token.form-control(type="text", placeholder="Facebook Access token", name="access_token")
      br
      button.btn.btn-primary.btn-block(type="submit") Log in with Facebook
      br

  .text-center
    br
    h2 OR
    br

  .login
    block auth
